<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Edit Grade</strong>
		</div>

		<div class="panel-body">
			<%= form_for [@course, @grade] do |f| %>

				<div>
					<%= f.label :assignment_id, "Assignment" %>
					<%= f.select :assignment_id, options_for_select(assignment_list), {}, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :student_id, "Student" %>
					<%= f.select :student_id, options_for_select(student_list), {}, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :points %>
					<%= f.text_field :points, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.submit "Edit", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>