<div class="container">
	<h1><%= course_id(@course) %> Grades</h1>

	<p>Sorting</p>
	<p><%= link_to "Assignment", course_grades_path(@course, sort: "assignment") %> | <%= link_to "Student", course_grades_path(@course, sort: "student") %> | <%= link_to "None", course_grades_path(@course, sort: "none") %></p>

	<% if @sorting == "student" %>

		<% @course.students.each do |student| %>
			<h3><%= student.name %></h3>
			<table class="table table-striped table-hover">
				<thead>
					<td>Assignment</td>
					<td>Points</td>
					<td>Max</td>
					<td>Percentage</td>
				</thead>

				<tbody>
					<% titles = Array.new %>
					<% student.grades.each do |grade| %>
						<% titles << grade.assignment.title %>
						<tr>
							<td><%= link_to grade.assignment.title %></td>
							<td><%= grade.points %></td>
							<td><%= grade.assignment.points %></td>
							<td><%= "#{grade.percentage}%" %></td>
						</tr>
					<% end %>
					<tr>
						<td>Total</td>
						<td><%= sp = student.grades.sum(:points).to_f %></td>
						<td><%= ap = @assignments.where(title: titles).sum(:points) %></td>
						<td><%= "#{sp / ap * 100.0}%" %></td>
					</tr>
				</tbody>
			</table>
		<% end %>

	<% elsif @sorting == "none" %>

		<h3>All Grades</h3>
		<table class="table table-striped table-hover">
			<thead>
				<td>Assignment</td>
				<td>Student</td>
				<td>Points</td>
				<td>Max</td>
				<td>Percentage</td>
			</thead>

			<tbody>
				<% @grades.each do |grade| %>
					<tr>
						<td><%= grade.assignment.title %>
						<td><%= link_to grade.student.name, student_path(grade.student) %></td>
						<td><%= grade.points %></td>
						<td><%= grade.assignment.points %></td>
						<td><%= "#{grade.percentage}%" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<% else %>

		<% @assignments.each do |assignment| %>
			<h3><%= assignment.title %></h3>
			<table class="table table-striped table-hover">
				<thead>
					<td>Student</td>
					<td>Points</td>
					<td>Max</td>
					<td>Percentage</td>
				</thead>

				<tbody>
					<% assignment.grades.each do |grade| %>
						<tr>
							<td><%= link_to grade.student.name, student_path(grade.student) %></td>
							<td><%= grade.points %></td>
							<td><%= assignment.points %></td>
							<td><%= "#{grade.percentage}%" %></td>
						</tr>
					<% end %>
					<tr>
						<td>Average</td>
						<td colspan="2"><%= assignment.grades.average(:points).to_f %></td>
						<td><%= "#{assignment.grades.to_a.sum(&:percentage).to_f / assignment.grades.to_a.size}%" %></td>
					</tr>
				</tbody>
			</table>
		<% end %>
	<% end %>

	<p><%= link_to "New", new_course_grade_path(@course) %></p>
</div>