<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Edit Assignment</strong>
		</div>

		<div class="panel-body">
			<%= form_for [@course, @assignment] do |f| %>
				<div>
					<%= f.label :title %>
					<%= f.text_field :title, :autofocus => true, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :points, "Max points" %>
					<%= f.text_field :points, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :due, "Due Date" %>
					<%= f.text_field :due, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :description %>
					<%= f.text_area :description, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.submit "Edi", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>