<div class="container">
	<h1>Assignments</h1>
	<table class="table table-striped table-hover">
		<thead>
			<td>Title</td>
			<td>Due Date</td>
		</thead>

		<tbody>
			<% @assignments.each do |assignment| %>
				<tr>
					<td><%= link_to assignment.title, course_assignment_path(@course, assignment) %></td>
					<td><%= time_tag assignment.due.localtime %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p><%= link_to "New", new_course_assignment_path(@course) %></p>
</div>