<div class="container">
	<h1><%= @assignment.title %></h1>
	<p><%= @course.title %></p>
	<p><%= @assignment.description %></p>

	<p><%= link_to "List", course_assignments_path(@course) %> | <%= link_to "Edit", edit_course_assignment_path(@course, @assignment) %> | <%= link_to "Delete", course_assignment_path(@course, @assignment), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>