<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Sign Up</strong>
		</div>

		<div class="panel-body">

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				<div>
					<%= f.label :first_name %>
					<%= f.text_field :first_name, :autofocus => true, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :last_name %>
					<%= f.text_field :last_name, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :email %>
					<%= f.email_field :email, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :password %>
					<%= f.password_field :password, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.submit "Sign up", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>