<div class="container">
	<h1>Topics</h1>
	<table class="table table-striped table-hover">
		<thead>
			<td>Title</td>
			<td>Posted At</td>
		</thead>

		<tbody>
			<% @topics.each do |topic| %>
				<tr>
					<td><%= link_to topic.title, course_topic_path(@course, topic) %></td>
					<td><%= time_tag topic.created_at.localtime %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p><%= link_to "New", new_course_topic_path(@course) %></p>
</div>