<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Create Topic</strong>
		</div>

		<div class="panel-body">
			<%= form_for [@course, @topic] do |f| %>
				<%= f.hidden_field :user_id, value: current_teacher.id %>

				<div>
					<%= f.label :title %>
					<%= f.text_field :title, :autofocus => true, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :body %>
					<%= f.text_area :body, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.submit "Create", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>