<div class="container">
	<h1><%= @topic.title %></h1>
	<p><%= @topic.body %></p>
	<p><%= time_tag @topic.created_at.localtime %></p>

	<p><%= link_to "List", course_topics_path(@course) %> | <%= link_to "Edit", edit_course_topic_path(@course, @topic) %> | <%= link_to "Delete", course_topic_path(@course, @topic), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>
</div>