<table class="calendar-table">
	<tbody>
		<tr class="calendar-title">
			<td colspan="2" class="text-center">
				<%= link_to "<", course_calendar_path(@course, month: month_decrement(month), year: year_decrement(month, year)) %>
			</td>
			<td colspan = "3" class="text-center">
				<%= "#{Date::MONTHNAMES[month]} #{year}" %>
			</td>
			<td colspan="2" class="text-center">
				<%= link_to ">", course_calendar_path(@course, month: month_increment(month), year: year_increment(month, year)) %>
			</td>
		</tr>

		<tr class="calendar-days">
			<td class="text-center">Sunday</td>
			<td class="text-center">Monday</td>
			<td class="text-center">Tuesday</td>
			<td class="text-center">Wednesday</td>
			<td class="text-center">Thursday</td>
			<td class="text-center">Friday</td>
			<td class="text-center">Saturday</td>
		</tr>

		<% weeks_in_month(month, year).each do |week, index| %>
			<tr class="calendar-week">
				<% (1...8).each do |number| %>
					<% date = Date.commercial(year, week, number) %>
					<% if calendar_day(date, month) != "" %>
						<td>
							<%= link_to calendar_day(date, month), root_path, :class => "calendar-link" %>
							<ul class="event-list">
								<% events.where(event_date: date.beginning_of_day..date.end_of_day).each do |event| %>
									<li><%= link_to event.title, course_event_path(@course, event) %></li>
								<% end %>
							</ul>
						</td>
					<% else %>
						<td></td>
					<% end %>
				<% end %>
			<tr>
		<% end %>

		<tr class="calendar-footer">
			<td colspan="7">Bottom row
			</td>
		</tr>

	</tbody>
</table>