<div class="container">
	<h1>Calendar</h1>
	<% if @view == "week" %>
		<%= render 'week', events: @events, week: @week %> 
	<% elsif @view == "day" %>
		<%= render 'day', events: @events, day: @day %>
	<% else %>
		<%= render 'month', events: @events, month: @month, year: @year %>
	<% end %>

	<h3>Events</h3>
	<table class="table table-striped table-hover">
		<thead>
			<td>Title</td>
			<td>Category</td>
			<td>Date</td>
		</thead>

		<tbody>
			<% @events.each do |event| %>
				<tr>
					<td><%= link_to event.title, course_event_path(@course, event) %></td>
					<td><%= event.category %></td>
					<td><%= time_tag event.event_date.localtime %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p><%= link_to "New", new_course_event_path(@course) %></p>
</div>