<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Create Event</strong>
		</div>

		<div class="panel-body">
			<%= form_for [@course, @event] do |f| %>
				<div>
					<%= f.label :title %>
					<%= f.text_field :title, :autofocus => true, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :category %>
					<%= f.select :category, options_for_select(category_list), {}, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :event_date, "Date/Time" %>
					<%= f.text_field :event_date, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.label :description %>
					<%= f.text_area :description, :class => "form-control" %>
				</div>

				<div class="input-div">
					<%= f.submit "Create", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>