<div class="container">
	<h1><%= @event.title %></h1>
	<p><%= link_to @event.course.title, course_path(@course) %></p>
	<p><%= time_tag @event.event_date.localtime %></p>
	<p><%= @event.description %></p>

	<p><%= link_to "List", course_calendar_path(@course, month: Date.today.month, year: Date.today.year) %> | <%= link_to "Edit", edit_course_event_path(@course, @event) %> | <%= link_to "Delete", course_event_path(@course, @event), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>