<div class="container">
	<h1>Welcome home.</h1>
	<p>Teachers <%= link_to "Register", new_teacher_registration_path %> | <%= link_to "Sign In", new_teacher_session_path %></p>
	<p>Students <%= link_to "Register", new_student_registration_path %> | <%= link_to "Sign In", new_student_session_path %></p>
	<p><%= link_to "Courses", courses_path %></p>
</div>