<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Sign In</strong>
		</div>

		<div class="panel-body">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				<div>
					<%= f.label :email %>
					<%= f.email_field :email, :autofocus => true, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :password %>
					<%= f.password_field :password, :class => "form-control " %>
				</div>

				<% if devise_mapping.rememberable? -%>
					<div class="input-div">
						<%= f.check_box :remember_me %> <%= f.label :remember_me %>
					</div>
				<% end %>

				<div class="input-div">
					<%= f.submit "Sign in", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>