<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<strong>Edit Course</strong>
		</div>

		<div class="panel-body">
			<%= form_for @course do |f| %>
				<div>
					<%= f.label :title %>
					<%= f.text_field :title, :autofocus => true, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :department %>
					<%= f.text_field :department, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :number %>
					<%= f.text_field :number, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :section %>
					<%= f.text_field :section, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :term %>
					<%= f.text_field :term, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :start_time %>
					<%= f.text_field :start_time, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :end_time %>
					<%= f.text_field :end_time, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.label :description %>
					<%= f.text_area :description, :class => "form-control " %>
				</div>

				<div class="input-div">
					<%= f.submit "Edit", :class => "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>