<div class="container">
	<h1>Courses</h1>
	<table class="table table-striped table-hover">
		<thead>
			<td>Title</td>
			<td>Course ID</td>
		</thead>

		<tbody>
			<% @courses.each do |course| %>
				<tr>
					<td><%= link_to course.title, course_path(course) %></td>
					<td><%= course_id(course) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p><%= link_to "New", new_course_path %></p>
</div>