<div class="container">
	<h1><%= "#{course_id(@course)} #{@course.title}" %></h1>
	<p><%= @course.teacher.name %></p>
	<p><%= "#{@course.term} #{@course.start_time} - #{@course.end_time}" %></p>
	<p><%= @course.description %></p>

	<p><%= link_to "Assignments", course_assignments_path(@course) %></p>
	<p><%= link_to "Calendar", course_calendar_path(@course, month: Date.today.month, year: Date.today.year) %></p>
	<p><%= link_to "Topics", course_topics_path(@course) %></p>

	<% if student_signed_in? && current_student.enrolled?(@course) %>

		<p><%= link_to "Drop Class", course_enroll_path(@course, Enroll.find_by(student_id: current_student.id, course_id: @course.id)), method: :delete, :class => "btn btn-danger" %></p>
	<% else %>

		<p><%= link_to "Enroll", course_enrolls_path(@course), method: :post, :class => "btn btn-primary" %></p>
	<% end %>

	<p><%= link_to "List", courses_path %> | <%= link_to "Edit", edit_course_path(@course) %> | <%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>