@import "bootstrap";

/*-- Global.
==========================================--*/

.input-div {
	
	margin-top: 20px;
}

.inline-control {
	width: 25%;
}

/*-- Events.
==========================================--*/

$calendar-blue: #1ba1e2;
$calendar-border: #ccc;

.calendar-table {

	width: 100%;
	border-collapse: collapse;
	border: 1px solid $calendar-blue;
}

.calendar-week td {

	width: 14.28%;
	border: 1px solid $calendar-border;
	padding: 10px;
}

.calendar-title {

	background-color: $calendar-blue;
	color: #fff;
}

.calendar-title a {

	display: block;
	color: #fff;
	padding: 7px;
	text-decoration: none;
}

.calendar-days {

	background-color: #fff;
}

.calendar-days td {

	width: 14.28%;
	border: 1px solid $calendar-border;
	padding: 10px;
}

.calendar-week td {

	padding: 0;
}

.calendar-link {

	text-align: center;
	display: block;
	text-decoration: none;
}

.calendar-link:hover {

	background-color: $calendar-blue;
	color: #fff;

	display: block;
	text-decoration: none;
}

.calendar-footer td {

	width: 14.28%;
	border: 1px solid $calendar-border;
	padding: 10px;
}

.event-list {

	height: 100px;
	padding: 10px 10px 0px 10px;
	margin: 0;
	list-style: none;
}

.event-list li {


}

.text-center {
	text-align: center;
}