<!DOCTYPE html>
<html>
	<head>
		<title>Whiteboard</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="container">
			<%= content_tag(:div, content_tag(:button, "x", :class => "close", :data => {:dismiss => "alert"}) + flash[:error], :class => 'alert alert-danger', :id => "flash_error") if flash[:error] %>
	
			<%= content_tag(:div, content_tag(:button, "x", :class => "close", :data => {:dismiss => "alert"}) + flash[:info], :class => 'alert alert-info', :id => "flash_notice") if flash[:info] %>

			<%= content_tag(:div, content_tag(:button, "x", :class => "close", :data => {:dismiss => "alert"}) + flash[:alert], :class => 'alert alert-info', :id => "flash_alert") if flash[:alert] %>
	
			<%= content_tag(:div, content_tag(:button, "x", :class => "close", :data => {:dismiss => "alert"}) + flash[:success], :class => 'alert alert-success', :id => "flash_alert") if flash[:success] %>
		</div>

		<%= yield %>

	</body>
</html>